html,
* {
	box-sizing: border-box !important;
	scroll-behavior: smooth;
}

#root {
	max-width: 100vw;
	margin: 0 auto;
	padding: 0rem;
	text-align: center;
}

.hideMenuNav {
	display: none;
}

.active {
	text-decoration: underline;
	text-decoration-color: #fd0000;
	text-decoration-thickness: 0.2rem;
}

.showMenuNav {
	display: block;
	position: absolute;
	width: 100%;
	height: 100vh;
	top: 0;
	left: 0;
	z-index: 10;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
}

.bubbles {
	position: relative;
	display: flex;
	justify-content: space-around;
}

.bubbles span {
	position: relative;
	background: #3216bb;
	border-radius: 50%;

	animation: animate 15s linear infinite;
	animation-duration: calc(180s / var(--i));
}

.bubble-light {
	box-shadow: 0 0 0 0.3rem #3216bb10, 0 0 3rem, 0 0 3rem;
}
.bubble-dark {
	box-shadow: 0 0 0 0.3rem #3216bb44, 0 0 3rem, 0 0 3rem;
}

.bubble-light:nth-child(even) {
	background: #fd0000;
	box-shadow: 0 0 0 0.3rem #fd000010, 0 0 1.5rem #fd0000, 0 0 3rem #fd0000;
}
.bubble-dark:nth-child(even) {
	background: #fd0000;
	box-shadow: 0 0 0 0.3rem #fd000010, 0 0 1.5rem #fd0000, 0 0 3rem #fd0000;
}
@keyframes animate {
	0% {
		transform: translateY(100vh) scale(0);
	}
	100% {
		transform: translateY(-10vh) scale(1);
	}
}

.welcome-msg-1 {
	white-space: nowrap;
	overflow: hidden;
	width: 0;
	animation: typing1 2.5s linear, cursor 0.4s step-end infinite alternate;
	animation-delay: 2s;
	animation-fill-mode: forwards;
}

.welcome-msg-2 {
	white-space: nowrap;
	overflow: hidden;
	letter-spacing: normal;
	width: 0;
	animation: typing2 2.5s linear, cursor 0.4s step-end infinite alternate;
	animation-delay: 4.5s;
	animation-fill-mode: forwards;
}

@keyframes cursor {
	50% {
		border-color: transparent;
	}
}

@keyframes typing1 {
	0% {
		width: 0;
		border-right: 0.2rem solid;
	}

	99% {
		border-right: 0.2rem solid;
	}

	100% {
		width: 100%;
	}
}

@keyframes typing2 {
	0% {
		width: 0;
		border-right: 0.2rem solid;
	}

	100% {
		width: 100%;
		border-right: 0.2rem solid;
	}
}

@media (min-width: 280px) and (max-width: 319px) {
	/* galaxy fold type phones */
	html,
	body {
		font-size: 14px;
	}
}
@media (min-width: 320px) {
	/* smartphones, iPhone, portrait 480x320 phones */
	html,
	body {
		font-size: 16px;
	}
}
@media (min-width: 481px) {
	/* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
	html,
	body {
		font-size: 17px;
	}
}
@media (min-width: 641px) {
	/* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
	html,
	body {
		font-size: 18px;
	}
}
@media (min-width: 961px) {
	/* tablet, landscape iPad, lo-res laptops ands desktops */

	html,
	body {
		font-size: 10px;
	}
}
@media (min-width: 1025px) {
	/* big landscape tablets, laptops, and desktops */
	html,
	body {
		font-size: 14px;
	}
}

@media (min-width: 1281px) {
	/* hi-res laptops and desktops */
	html,
	body {
		font-size: 22px;
	}
}
@media (min-width: 3840px) {
	/* 4k */
	html,
	body {
		font-size: 35px;
	}
}
